<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keyword">

	<!-- 추천검색어 -->
	<select id="autocomplete" resultType="kr.co.vo.AutoComVO">
		SELECT
			 k_num 
			,k_keyword
		FROM keyword
		WHERE k_type='1'
	</select>
	
	<!-- 인기검색어 -->
	<select id="autocomplete_pop" resultType="kr.co.vo.AutoComVO">
		SELECT
			 k_num 
			,k_keyword
		FROM keyword
		WHERE k_type='2'
	</select>
	
	<!-- 최근검색어 -->
	<select id="autocomplete_self" resultType="kr.co.vo.AutoComVO">
		SELECT
			 k_num 
			,k_keyword
		FROM keyword
		WHERE k_type='3'
	</select>
	
</mapper>