<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<!-- 게시판 글 작성 -->
	<insert id="register">
	  insert into user(u_id,u_pw,u_name,u_email,u_zipcode,u_addr,u_addr2,u_tel,u_sex,u_age,u_type)
	  values(#{u_id},#{u_pw},#{u_name},#{u_email},#{u_zipcode},#{u_addr},#{u_addr2},#{u_tel},#{u_sex},#{u_age},#{u_type})
    </insert>
   <!-- 로그인 -->
	 <select id="login" resultType="kr.co.vo.UserVO">
		select
		    *
		from user
		where u_id = #{u_id}
		and u_pw = #{u_pw}
		
	</select>

	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="String">
	 	select u_id
	 	from user
	 	where u_id = #{u_id}
	</select>

	<!-- 회원정보 수정 -->	
	<update id="modify">
	    update user
		set u_name=#{u_name},u_email=#{u_email},u_zipcode=#{u_zipcode},u_addr=#{u_addr},u_addr2=#{u_addr2},u_tel=#{u_tel}
		where u_id = #{u_id}		
	</update>
			
	<!-- 회원 탈퇴 -->
	<delete id="delete">
		delete from user
		    where u_id = #{u_id}
		        and u_pw = #{u_pw}
	</delete>
	
	<select id="userInfo" resultType="kr.co.vo.UserVO">
		select * 
		from user 
		where u_id=#{u_id} 
	</select>
</mapper>
